<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h4>What side do you think the dice will land on?</h4>

<div th:each="side : ${list}">
    <form th:action="@{/roll-dice/{side}(side=${side})}" method="post">
        <button type="submit" th:text="${side}"></button>
    </form>

</div>
<div th:if="${guess} != null">
    You guessed <span th:text="${guess}"></span> and the dice landed on <span th:text="${roll}"></span>!

    <div th:if="${roll == guess}">
        <span>You hit the jackpot!</span>
    </div>
    <div th:if="${roll != guess}">
        <span>Looks like you lost this time.</span>
    </div>

    <form th:action="@{/roll-dice}" method="get">
        <button type="submit">Wanna go for another roll?</button>
    </form>


</div>
<div th:replace="partials/scripts :: assets"></div>
</body>
</html>